#card-place {
  border-radius: 20px;
  justify-content: "space-between";
  padding: 10px;
  text-align: center;
  text-overflow: ellipsis;
  background: linear-gradient(to bottom, #006eff21 0%, #fbff004b 100%);
  border: 1px solid rgba(150, 135, 135, 0.274);
}

#card-place:hover {
  transform: translateY(-5px) scale(1.02);
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 35px rgba(49, 204, 231, 0.795), 0 8px 25px rgba(0, 0, 0, 0.2);
  background-color: rgba(251, 255, 0, 0.452);
}

.name-place {
  margin-bottom: 1.8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
}
