.episodes-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
  box-shadow: 3;
  border-radius: 10%;
}

#title-episodes {
  text-align: center;
  margin-bottom: 2rem;
  color: #000000;
  font-family: "Luckiest Guy", cursive;
}

#content-episodes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}

.season-episodes {
  margin-top: 1rem;
  padding: 0.6rem 1.2rem;
  border-radius: 10px;
  border: 2px solid #0044cc;
  font-size: 1rem;
  cursor: pointer;
  background-color: #fef253;
  color: #1b1b1b;
  transition: all 0.3s ease;
  font-weight: 600;
}

.season-episodes:hover {
  border-color: #ffcc00;
  background-color: #fff685;
  transform: scale(1.05);
}
